---
---

@import "{{ site.theme }}";

.page-header {
  background-image: linear-gradient(180deg, #0ce7f3, #601599);
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  color: #8600ff;
}

body {
  background-color: #000;
  color: #00ffff;
}
