---
---

@import "{{ site.theme }}";

.page-header {
  background-image: linear-gradient(180deg, #0ce7f3, #601599);
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  color: #8600ff;
}

body {
  background-color: #000;
  color: #00ffff;
}

.site-footer {
  color: grey;
}

a:link {
  color: #09ff00;
}

a:visited {
  color: hotpink;
}

a:hover {
  color: #67ffae;
}

a:active {
  color: pink;
}

.site-footer a, .site-footer a:link, .site-footer a:visited, .site-footer a:active {
  color: blue;
}

.btn a, .btn a:link, .btn a:visited, .btn a:hover, .btn a:active {
  color: rgba(255,255,255,0.7);
}

.bot-image {
  border-radius: 50% !important;
  border: 3px solid #0CE7F3;
  animation: float 5s ease-in-out infinite;
}


@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    -webkit-transform: translatey(-30px);
            transform: translatey(-30px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}
