---
---

@import "{{ site.theme }}";

.page-header {
  background-image: linear-gradient(180deg, #0ce7f3, #601599);
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  color: #8600ff;
}

body {
  background-color: #000;
  color: #00ffff;
}

.site-footer {
  color: grey;
}

.site-footer a, .site-footer a:link {
  color: blue;
}

.btn a, .btn a:link {
  color: rgba(255,255,255,0.7);
}



a:link {
  color: #09ff00;
}

a:visited {
  color: hotpink;
}

a:hover {
  color: #67ffae;
}

a:active {
  color: pink;
}
